.subscribeSection {
  width: 100%;
  background: linear-gradient(90deg, rgba(255,255,255,1) 60%, rgba(246,182,95,1) 60%);
}

.subscribeSection > .container {
  position: relative;
  display: flex;
}

.subscribeImage {
  width: 40%;
  display: flex;
  justify-content: center;
}

.atronautImg {
  position: absolute;
  height: 180px;
  bottom: 0px;
}

.subscribeInformation {
  width: 40%;
  padding: 5%;
  background-color: #f6b65f;
  right: 0;
}

.subscribeLabel > h1 {
  margin-left: 70px;
  font-size: 18px;
  padding-left: 20px;
}

.input-icons {
  margin-left: 70px;
  width: 450px;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.icon {
  width: 18px;
}

.subscribeMail {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
}

.subscribeForm {
  position: relative;
  width: 20%;
  background-color: #f6b65f;
}

.subscribeCircleCard {
  position: absolute;
  right: 60px;
  bottom: 40px;
  height: 100px;
  width: 100px;
  background-color: #0e2b3b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.circleCard {
  width: 70px;
}

.subscribeCircle {
  position: absolute;
  bottom: 0px;
  right: -20px;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
  height: 100px;
  width: 200px;
  border-radius: 150px 150px 0px 0px;
  background-color: #f6b65f;
}
