.subscribeSection {
  width: 100%;
  background: linear-gradient(90deg, rgba(255,255,255,1) 60%, rgba(246,182,95,1) 60%);
}

.subscribeSection > .container {
  position: relative;
  display: flex;
}

.subscribeImage {
  width: 40%;
  display: flex;
  justify-content: center;
}

.atronautImg {
  position: absolute;
  height: 180px;
  bottom: 0px;
}

.subscribeInformation {
  width: 45%;
  padding: 5%;
  background-color: #f6b65f;
  right: 0;
}

.subscribeLabel > h1 {
  margin-left: 30px;
  font-size: 19px;
  color: #0e2b3b;
}

.input-icons {
  margin-left: 30px;
  width: 400px;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.icon {
  width: 25px;
  margin-right: -10px;
}

.subscribeMail {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
}

.subscribeForm {
  position: relative;
  width: 15%;
  background-color: #f6b65f;
}

.subscribeCircleCard {
  position: absolute;
  right: 60px;
  bottom: 40px;
  height: 100px;
  width: 100px;
  background-color: #0e2b3b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.circleCard {
  width: 70px;
}

.subscribeCircle {
  position: absolute;
  bottom: 0px;
  right: -20px;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
  height: 100px;
  width: 200px;
  border-radius: 150px 150px 0px 0px;
  background-color: #f6b65f;
}

@media (max-width: 768px) {
  .subscribeSection{
    height: 150px;
    overflow: hidden;
  }

  .subscribeSection > .container{
    height: 100%;
  }
  .subscribeImage {
    width: 30%;
  }

  .atronautImg {
    position: absolute;
    width: 100px;
    height: auto;
  }

  .subscribeInformation {
    width: 65%;
    padding: 10px 20px;
  }
  
  .subscribeLabel > h1 {
    margin-left: 0px;
    font-size: 13px;
  }

  .input-icons {
    margin-left: 0px;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
  }

  .subscribeMail {
    height: auto;
    font-size: 13px;
    padding-left: 0px;
  }
  
  .icon {
    width: 15px;
    margin-right: -5px;
  }


.subscribeForm {
  position: relative;
  width: 15%;
  background-color: #f6b65f;
}

.subscribeCircleCard {
  position: absolute;
  right: 5px;
  bottom: 20px;

  height: 50px;
  width: 50px;
}

.circleCard {
  width: 30px;
}

.subscribeCircle {
  height: 40px;
  width: 90px;
}
}