.sectionContact {
    display: flex;
    text-align: center;
    padding: 50px 150px;
    width: 100%;
    letter-spacing: 0.055em;
}

.cardContact {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e2b3b;
    border-radius: 30px;
    padding: 50px;
    gap: 10px;
}

.cardContact > h1 {
    font-size: 20px;
    color: #F6B65F;
    margin-top: 20px;
}
.cardContact > p{
    color: white;
    margin-bottom: 20px;
    font-size: 19px;
}
.circle {
	height: 100px;
    width: 100px;
	background-color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.btn {
    font-size: 15px;
    width: 100%;
    height: 15%;
    line-height: 30px;
    border: none;
    background-color: #f5b45f;
    color: #0e2b3b;
    border-radius: 30px;
    cursor: pointer;
}

.networkContact {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 20px 130px;
    gap: 20px;
}

.networkContact > h1 {
    color: #F6B65F;
}

.networkContact > p{
    font-size: 19px;
}

.develop {
	width: 70px;
}

.networksContain{
    display: flex;
    gap: 20px;
}

.networkIcon a img {
    width: 32px;
    height: 32px;
}