
.cardContact {
    background: #0e2b3b;
}

.cardContact >div> h1 {
    font-size: 20px;
    color: #F6B65F;
    margin-top: 20px;
}
.cardContact >div> p{
    color: white;
    margin-bottom: 20px;
    font-size: 19px;
}


.btn {
    background-color: #f5b45f;
    color: #0e2b3b;
}


.networkContact > h1 {
    color: #F6B65F;
}

.networkContact > p{
    font-size: 19px;
}

.networkIcon a img {
    width: 32px;
    height: 32px;
}
