.service_card_2 {
  padding: 10px 80px 10px 30px;
  border-left: 2px solid #fff ;
}

.service_card_2_text > h4 {
  font-weight: 700;
  font-size: 27px;
  line-height: 45px;
  letter-spacing: 0.055em;
}

.service_card_2_text > p {
  max-width: 86%;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.055em;
  color: #FFFFFF;
  }

.service_card_2_img {
  width: 220px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #fff;
}

.service_card_2_img > img {
  width: 60%;
  object-fit: cover;
}
