.customer__card{
    width: 300px;
    height: 300px;
}

.customer__card__header{
    height: 70%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.customer__card__header img{
    border-radius: 14px 14px 0 0;
}

.customer__card__header h4{
    margin-top: 5px;
    font-size: 25px;
    color: #000;
}



@media (max-width: 768px) {
    .customer__card{
        width: 170px;
    } 
 }