.customer__card{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    overflow: hidden;
}

.customer__card__header{
    height: 70%;
    background-color: gray;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.customer__card__header h4{
    font-size: 25px;
    color: #fff;
}

.customer__card__text{
    height: 30%;
    padding: 10px 2px;
}