.services__list__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .services__list__container {    
    flex-direction: column;
    gap: 20px;
  }
}
