.customers__section{
    width: 99vw;
}
.customers__list__title{
    font-size: 50px;
    margin: 60px 0px 30px;
    text-align: center;
    color: #0d2633;
}

.customers__list__container{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
    margin-bottom: 100px;
}
.carrousel_villero{
    
}
@media (max-width: 768px) {
   .customers__list__container{
    grid-template-columns: repeat(2, auto);
    gap: 10px;
   } 
   .customers__list__title{
    font-size: 25px;
   }
}