.start__about__container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  background-color: #0d2633;
}

.start__about__main{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px 0px;
}

.start__about__main>h3 {
  font-weight: 700;
  font-size: 33px;
  line-height: 45px;
  letter-spacing: 0.055em;
  mix-blend-mode: normal;
}

.start__about__main>p {
  font-weight: 400;
  font-size: 19px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.055em;
  margin: 15px 0px 30px;
  color: #ffffff;
}

.text__center {
  text-align: center;
}

.abaut__ornament__container {
  position: relative;
  height: 100%;
}

.abaut_img__ornament {
  position: absolute;
  bottom: 0;
  right: 10%;
  z-index: 10;
  width: 300px;
}

.abaut_img__ornament.img__2 {
  width: 350px;
}


.abaut_img__ornament.img__1 {
  right: 19%;
}

.start__abaut {
  width: 100%;
  position: relative;
  background: linear-gradient(90deg,
      rgba(13, 38, 51, 1) 50%,
      rgba(246, 182, 95, 1) 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* MEDIA QUERY */

@media (max-width: 768px) {
  .text__center{
    /* width: 320px; */
  }
  .start__abaut{
    /* width: 320px; */
  }
  .start__abaut__main>h3{
    font-size: 20px;
   
  }
  .start__about__main>p{
    font-size: 14px;
  }
  .start__about__container {
    display: flex;
    flex-direction: row;
  }
  .abaut_img__ornament.img__2 {
    width: 150px;
    position: relative;
  }
  aside>.box__yellow {
    display: none;
  }
}