


/* .links__nav__container {
  gap: 20px;
}



.links__nav__li:nth-child(4) {
  border: none;
}

.networks__nav__container {
  gap: 20px;
}

.network__nav__link a img {
  width: 28px;
  height: 28px;
} */

/* .country__container {
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 4px;
} */

/* .country__container span {
  margin-bottom: 5px;
} */

