.nav__expand{
  width: 100%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
}

.nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.navbar__brand > img {
  width: 140px;
  transition: .3s;
}

.navbar__brand > img:hover{
  transform: scale(1.1);
}

.links__container{
  width: 70%;
    display: flex;
    justify-content: space-between;
}

.btn__menu{
  border: none;
  background: none;
  display: none;
}

.links__nav__container {
  gap: 20px;
}

.links__nav__li {
  font-size: 17px;
  color: #00a6ff;
  line-height: 21px;
  letter-spacing: 1px;
  padding: 0px 20px 0px 0px;
  border-right: 1px solid #0e2b3b;
}

.links__nav__li > a {
  color: #0E2B3B;
  transition: .1s;
}

.links__nav__li:nth-child(4) {
  border: none;
}

.networks__nav__container {
  gap: 20px;
}

.network__nav__link a img {
  width: 28px;
  height: 28px;
}

.country__container {
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 4px;
}

.country__container span {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .nav {
    height: 45px;
  }

  .navbar__brand > img {
    width: 110px;
    transition: .3s;
  }  

  .btn__menu{
    display: block;
    z-index: 20;
  }


  .links__container{
    background-color: white;
    position: fixed;
    top:0;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .3s;
    z-index:30
  }

  .links__nav__container{
    flex-direction: column;
  }
}