/* *{
  border: 1px solid black;
} */

/*-------------------------------------------*/
/* .customersHeader {
  width: 99vw;
  margin: 0;
}

.customer__container {
  display: flex;
  margin-left: 0;
  margin: 0;
}

.customer__header__banner {
  width: 99vw;
  height: 500px;
  margin-top: 60px;
  margin-left: 0;
  position: relative;
  object-fit: cover;
  left: 0
}

.customers__header__card {
  background-color: #fff;
  box-shadow: -17px 11px 21px -1px rgba(87, 87, 87, 0.137);

  right: 7rem;
  top: 22rem;
  max-width: 310px;
  border-radius: 30px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

*/
.customers__header__card span {
  /* width: 80px; */
  aspect-ratio: 1;
  /* border-radius: 50%; */
  /* background-color: #000; */
  position: absolute;
  top: -40px;
  /* 
  right: 120px; */
} 
/*-------------------------------------------*/
/* .customers__header__card h4 { NOT
  color: #0e2b3b;
  text-align: start;
  width: 100%;
  font-size: 20px;
} */
/*-------------------------------------------*/
/* .customers__header__card p {
  font-size: 18px;
  margin-top: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  width: 18rem;
}

@media (max-width: 568px) {
  .customers__header__card>p {
    font-size: 14px;
  }

  .customers__header__card {
    width: 260px;
  }

  .customersHeader>.container>h3 {
    position: absolute;
    font-size: 20px;
    top: 73%;
    left: 5%;
  }

  .customer__header__banner {
    width: 99vw;
    height: 400px;
    margin-top: 60px;
  }
} */