.footerSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0d2633;
}

.logoFooter {
  width: 200px;
  margin-bottom: 20px;
}

.footerColumns {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 70px 0px 50px;

}

.creditsSection {
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #07212e;
  color: white;
  padding: 25px;
}

.creditsSection > p {
  font-size: 12.5px;
}

.listFooter {
  line-height: 2;
}

.footerTitle {
  margin-bottom: 10px;
  margin-top: 30px;
  letter-spacing: 0.055em;
}

.titleAliados {
  margin-top: 60px;
}

li a {
  color: white;
  letter-spacing: 0.055em;
  cursor: pointer;
}

.listExtra {
  column-count: 2;
  line-height: 2;
}

.creditsSection > button {
  position: absolute;
  top: -30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #f5b45f;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  border: solid 3px white;
  transition: 0.5s;
  z-index: 20;
}

.creditsSection > button:hover {
  transform: scale(1.2);
}

.arrow {
  width: 70%;
}

@media (max-width: 768px) {
  .footerColumns{
    flex-direction: column;
    padding: 30px 20px 10px;
  }

  .footerColumns ul li{
    font-size: 13px;
  }

  .logoFooter {
    width: 110px;
    margin-bottom: 0px;
  }

  .listFooter{
    display: none;
  }

  .creditsSection > button {
    position: absolute;
    top: -30px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: #f5b45f;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    border: solid 3px white;
    transition: 0.5s;
    z-index: 20;
  }

  .footerTitle {
    margin-bottom: 10px;
    margin-top: 30px;
    letter-spacing: 0.055em;
    font-size: 16px;
  }
}
