.start__abaut{
    margin-bottom: 20px;
    margin-top: 20px;
}
.text__light{
    color: #fff;
}

.abaut__container{
    position: relative;
    padding-bottom: 80px;
}

.abaut__container p{
    font-size: 19px;
}

.btn__abaut{
    position: absolute;
    right: 10%;
    bottom: 30px;
}

@media (max-width: 768px) {
    .box__yellow{
        display: none;
    }
    .abaut_img__ornament{
        width: 120px;
    }
    .abaut__ornament__container{
        height: 200px;
        justify-self:flex-end;
        align-self: flex-end;
        margin-right: 40px;
    }
    .title__join{
        margin-left: 10%;
        width: 300px;
        right: -90%;
        top: 5%;
    }
    .btn__abaut{
        right: 62%;
        bottom: 20px;
    }
    .abaut__container>p{
        margin-left: 10%;
    }
    .text__light>p{
        margin-left: 10%;
    }
    .text__light{
        width: 264px;
    }

}