.customers__images__container {
  max-width: 1400px;
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.customers__images__container>li {
  aspect-ratio: 1;
  background-color: gray;
  border: 1px solid #fff;
}

.slider__item{
  margin: 0;
}

.slider__item >img{
  width:381.26px;
  height:381.26
}

@media (max-width: 568px) {
  .slider__item >img{
    width:150.26px;
    height:150.26
  }
}