.floating__bar__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 70px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 20;
}

.floating__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  z-index: 21;
}

.floating__bar__container img {
  width: 100%;
  cursor: pointer;
}

.floating__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  background-color: rgba(129, 122, 122, 0.3);
  border-radius: 10px;
  padding: 20px 10px 10px;
  position: relative;
  margin-bottom: 10px;
  transition: .3s;
}

.icon__g{
  transition: .3s;
}

.icon__g:hover{
  transform: scale(.9);
}

.icon__g:active{
  transform: scale(.5);
}

.floating__icons::after {
  content: " ";
  width: 20px;
  height: 20px;
  background-color: rgba(129, 122, 122, 0.3);
  position: absolute;
  bottom: -20px;
  clip-path: polygon(50% 50%, 0 0, 100% 0);
}

.floating__icons > li {
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  padding: 0px 0px 5px 0px;
  transition: .3s;
}

.floating__icons > li:nth-child(5){
  border: none;
}

.floating__icons.hide_bar{
  transform: translateY(180px) scaleY(.1) scaleX(.7);
}

.floating__icons.see_bar > li{
  position: static;
}