@font-face {
  font-family: Nirmala;
  src: url("./assets/Fonts/Nirmala.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Nirmala;
}

.img__max {
  width: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color__secondary {
  color: #f5b45f;
}

.btn__primary {
  font-size: 22px;
  line-height: 30px;
  border: none;
  background-color: #f5b45f;
  color: #0e2b3b;
  padding: 10px 40px;
  border-radius: 30px;
  font-weight: 900;
  cursor: pointer;
}

.btn__secondary {
  font-size: 16px;
  line-height: 30px;
  border: none;
  background-color: #f5b45f;
  color: #0e2b3b;
  padding: 0px 20px;
  border-radius: 30px;
  font-weight: 900;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title__section {
  font-size: 25px;
  text-align: center;
  color: #0d2633;
  margin: 30px 0px 20px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0.055em;
  mix-blend-mode: normal;
}

.bold {
	font-family: 'Nirmala UI';
	font-style: normal;
	font-weight: 700;
  letter-spacing: 0.055em;
}